spring:
  data:
    redis:
      host: redis
      port: 6397
logging:
  file:
    name: /app/logs/app.log
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:.ss.SSS} %-5level [%thread] %logger{36} - %msg%n"
  level:
    root: INFO
management:
  info:
    java:
      enabled: true
    os:
      enabled: true
    git:
      enabled: true
    env:
      enabled: true
    build:
      enabled: true
  endpoints:
    web:
      exposure:
        # include: health,info,env,refresh,metrics,busrefresh,httpexchanges
        include: "*"
  endpoint:
    shutdown:
      enabled: true
    health:
      show-details: always
    env:
      keys-to-sanitize: ""

# Eureka 설정
eureka:
  instance:
    prefer-ip-address: true
    ip-address: ${host_ip:localhost}
    hostname: ${host_ip:localhsot}
    instance-id: ${spring.application.name}:${host_ip:localhost}:${random.value}
    non-secure-port: ${server.port}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka/